basePath: /
definitions:
  dto.EventDto:
    properties:
      description:
        type: string
      name:
        type: string
    type: object
  dto.EventRequestDto:
    properties:
      event:
        $ref: '#/definitions/dto.EventDto'
    type: object
  dto.LoginRequestDto:
    properties:
      email:
        type: string
      password:
        type: string
    type: object
  dto.LoginResponseDto:
    properties:
      token:
        type: string
    type: object
  dto.RegisterRequestDto:
    properties:
      email:
        type: string
      name:
        type: string
      password:
        type: string
      phone:
        type: integer
    type: object
  dto.VenueDto:
    properties:
      address:
        type: string
      capacity:
        type: integer
      description:
        type: string
      name:
        type: string
    type: object
  dto.VenueRequestDto:
    properties:
      venue:
        $ref: '#/definitions/dto.VenueDto'
    type: object
  entity.Booking:
    properties:
      created_at:
        type: string
      event:
        $ref: '#/definitions/entity.Event'
      id:
        type: integer
      price:
        type: integer
      status:
        type: string
      updated_at:
        type: string
      venue:
        $ref: '#/definitions/entity.Venue'
    type: object
  entity.BookingRequestDto:
    properties:
      eventId:
        type: integer
      price:
        type: integer
      status:
        type: string
      venueId:
        type: integer
    type: object
  entity.Event:
    properties:
      created_at:
        type: string
      description:
        type: string
      id:
        type: integer
      name:
        type: string
      organization:
        $ref: '#/definitions/entity.Organization'
      updated_at:
        type: string
    type: object
  entity.EventResponseDto:
    properties:
      created_at:
        type: string
      description:
        type: string
      id:
        type: integer
      name:
        type: string
      organization:
        $ref: '#/definitions/entity.Organization'
      updated_at:
        type: string
    type: object
  entity.Image:
    properties:
      created_at:
        type: string
      id:
        type: integer
      image_url:
        type: string
      updated_at:
        type: string
    type: object
  entity.Organization:
    properties:
      created_at:
        type: string
      email:
        type: string
      id:
        type: integer
      name:
        type: string
      password:
        type: string
      phone:
        type: integer
      updated_at:
        type: string
    type: object
  entity.Venue:
    properties:
      address:
        type: string
      capacity:
        type: integer
      created_at:
        type: string
      description:
        type: string
      id:
        type: integer
      image:
        $ref: '#/definitions/entity.Image'
      name:
        type: string
      updated_at:
        type: string
    type: object
  models.ApiErrorWrapper:
    properties:
      message:
        type: string
      ok:
        type: boolean
    type: object
host: localhost:3000
info:
  contact:
    email: fiber@swagger.io
    name: API Support
  description: Project by Anton Larionov for Events booking
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Events MIREA Project
  version: "1.0"
paths:
  /auth/login:
    post:
      consumes:
      - application/json
      description: Login with email and receive JWT Token
      parameters:
      - description: Organization email and password
        in: body
        name: OrganizationCred
        schema:
          $ref: '#/definitions/dto.LoginRequestDto'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.LoginResponseDto'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/models.ApiErrorWrapper'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/models.ApiErrorWrapper'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/models.ApiErrorWrapper'
      summary: Login Organization
      tags:
      - Auth
  /auth/register:
    post:
      consumes:
      - application/json
      description: Create Organization by Email, Password
      parameters:
      - description: Organization email, password, name of company
        in: body
        name: OrganizationData
        schema:
          $ref: '#/definitions/dto.RegisterRequestDto'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/models.ApiErrorWrapper'
      summary: Register Organization
      tags:
      - Auth
  /bookings:
    get:
      consumes:
      - application/json
      description: Get All Bookings without ID
      parameters:
      - default: Bearer
        description: Bearer Token
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/entity.Booking'
            type: array
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/models.ApiErrorWrapper'
      summary: Get All Bookings
      tags:
      - Bookings
    post:
      consumes:
      - application/json
      description: Create Booking by body params
      parameters:
      - default: Bearer
        description: Bearer Token
        in: header
        name: Authorization
        required: true
        type: string
      - description: Booking Data
        in: body
        name: Booking
        schema:
          $ref: '#/definitions/entity.BookingRequestDto'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            type: string
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/models.ApiErrorWrapper'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/models.ApiErrorWrapper'
      summary: Create Booking
      tags:
      - Bookings
  /bookings/{id}:
    get:
      consumes:
      - application/json
      description: Get Booking by booking id
      parameters:
      - default: Bearer
        description: Bearer Token
        in: header
        name: Authorization
        required: true
        type: string
      - description: Booking ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/entity.Booking'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/models.ApiErrorWrapper'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/models.ApiErrorWrapper'
      summary: Get Booking
      tags:
      - Bookings
  /events:
    get:
      consumes:
      - application/json
      description: Get All Events without ID
      parameters:
      - default: Bearer
        description: Bearer Token
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/entity.EventResponseDto'
            type: array
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/models.ApiErrorWrapper'
      summary: Get All Events
      tags:
      - Events
    post:
      consumes:
      - application/json
      description: Create Event by body params
      parameters:
      - default: Bearer
        description: Bearer Token
        in: header
        name: Authorization
        required: true
        type: string
      - description: Event Data
        in: body
        name: Event
        schema:
          $ref: '#/definitions/dto.EventRequestDto'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            type: string
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/models.ApiErrorWrapper'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/models.ApiErrorWrapper'
      summary: Create Event
      tags:
      - Events
  /events/{id}:
    delete:
      consumes:
      - application/json
      description: Delete Event by id
      parameters:
      - default: Bearer
        description: Bearer Token
        in: header
        name: Authorization
        required: true
        type: string
      - description: Event Id
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/models.ApiErrorWrapper'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/models.ApiErrorWrapper'
      summary: Delete Event
      tags:
      - Events
    get:
      consumes:
      - application/json
      description: Get Event by event id
      parameters:
      - default: Bearer
        description: Bearer Token
        in: header
        name: Authorization
        required: true
        type: string
      - description: Event ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/entity.Event'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/models.ApiErrorWrapper'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/models.ApiErrorWrapper'
      summary: Get Event
      tags:
      - Events
  /venues:
    get:
      consumes:
      - application/json
      description: Get All venues without ID
      parameters:
      - default: Bearer
        description: Bearer Token
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/entity.Venue'
            type: array
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/models.ApiErrorWrapper'
      summary: Get All Venues
      tags:
      - Venues
    post:
      consumes:
      - application/json
      description: Create Venue by venue id
      parameters:
      - default: Bearer
        description: Bearer Token
        in: header
        name: Authorization
        required: true
        type: string
      - description: Venue Data
        in: body
        name: Venue
        schema:
          $ref: '#/definitions/dto.VenueRequestDto'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            type: string
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/models.ApiErrorWrapper'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/models.ApiErrorWrapper'
      summary: Create Venue
      tags:
      - Venues
  /venues/{id}:
    get:
      consumes:
      - application/json
      description: Get Venue by venue id
      parameters:
      - default: Bearer
        description: Bearer Token
        in: header
        name: Authorization
        required: true
        type: string
      - default: 1
        description: Venue ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/entity.Venue'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/models.ApiErrorWrapper'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/models.ApiErrorWrapper'
      summary: Get Venue
      tags:
      - Venues
  /venues/{id}/images:
    post:
      consumes:
      - multipart/form-data
      description: Add Image to Venue by venue id
      parameters:
      - default: Bearer
        description: Bearer Token
        in: header
        name: Authorization
        required: true
        type: string
      - description: Image to Venue
        in: formData
        name: Image
        required: true
        type: file
      - default: 0
        description: Venue ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/entity.Image'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/models.ApiErrorWrapper'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/models.ApiErrorWrapper'
      summary: Add Image to Venue
      tags:
      - Venues
swagger: "2.0"
